In [1]:
import numpy as np

In [2]:
my_list = [2,4,6]

In [3]:
type(my_list)

list

In [4]:
my_array = np.array(my_list)                # converts list to numpy array

In [5]:
type(my_array)

numpy.ndarray

In [7]:
np.arange(0,15)                       # arange gives a list of values within a given interval. Here it prints till 0 to 9
                                      # np.arange() and not X [np.arrange] X

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [9]:
np.arange(0, 15, 3)                  # here 3 is the interval. So it returns the element with 3 as interval

array([ 0,  3,  6,  9, 12])

In [10]:
np.zeros(shape=(6,6))                # shape is used to give rows and columns. 
                                     # full of with zero values,
                                     # numpy creates the float value by default

array([[0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.]])

In [12]:
np.ones(shape=(2,4))                 # here it creates the matrix with values of one for the shape of (2,4)

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [17]:
np.random.seed(101)
array_1 = np.random.randint(0, 100, 10)

In [18]:
array_1

array([95, 11, 81, 70, 63, 87, 75,  9, 77, 40])

In [19]:
array_2 = np.random.randint(0, 100, 10)

In [20]:
array_2

array([ 4, 63, 40, 60, 92, 64,  5, 12, 93, 40])

In [22]:
array_1.max()                      # returns the max value in array

95

In [24]:
array_1.argmax()                   # returns the location of max value

0

In [25]:
array_1.argmin()                   # returns the location of min value

7

In [26]:
array_1.mean()                     # computes the average

60.8

In [28]:
array_1.shape                      # here if we see, there is no second argument in shape. This is because this is a vector

(10,)

In [30]:
array_1.reshape((2,5))             # we cannot give a shape like 2,3 here as 10 elements cannot be split like that. 
                                   # It will give error

array([[95, 11, 81, 70, 63],
       [87, 75,  9, 77, 40]])

In [31]:
matrix = np.arange(0, 100).reshape(10, 10)

In [32]:
matrix

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59],
       [60, 61, 62, 63, 64, 65, 66, 67, 68, 69],
       [70, 71, 72, 73, 74, 75, 76, 77, 78, 79],
       [80, 81, 82, 83, 84, 85, 86, 87, 88, 89],
       [90, 91, 92, 93, 94, 95, 96, 97, 98, 99]])

In [34]:
matrix.shape

(10, 10)

In [35]:
matrix[:,1]   #this return all elements in colum 1

array([ 1, 11, 21, 31, 41, 51, 61, 71, 81, 91])

In [36]:
matrix[:,1].shape

(10,)

In [37]:
matrix[3:8,2:7]  #slicing another matrix from the original matrix

array([[32, 33, 34, 35, 36],
       [42, 43, 44, 45, 46],
       [52, 53, 54, 55, 56],
       [62, 63, 64, 65, 66],
       [72, 73, 74, 75, 76]])

In [38]:
matrix_1 = matrix.copy()  #creates a new matrix called mat1 from mat

In [39]:
matrix_1

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59],
       [60, 61, 62, 63, 64, 65, 66, 67, 68, 69],
       [70, 71, 72, 73, 74, 75, 76, 77, 78, 79],
       [80, 81, 82, 83, 84, 85, 86, 87, 88, 89],
       [90, 91, 92, 93, 94, 95, 96, 97, 98, 99]])

In [41]:
matrix_1[3:8,2:7] = 1                         #this will make all elements of this porting zero.

In [42]:
matrix_1

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31,  1,  1,  1,  1,  1, 37, 38, 39],
       [40, 41,  1,  1,  1,  1,  1, 47, 48, 49],
       [50, 51,  1,  1,  1,  1,  1, 57, 58, 59],
       [60, 61,  1,  1,  1,  1,  1, 67, 68, 69],
       [70, 71,  1,  1,  1,  1,  1, 77, 78, 79],
       [80, 81, 82, 83, 84, 85, 86, 87, 88, 89],
       [90, 91, 92, 93, 94, 95, 96, 97, 98, 99]])